.task-field {
  max-width: 720px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.main-title {
  padding-top: 19px;
  padding-left: 15px;
  padding-right: 15px;
}

.content {
  padding: 19px;
}

.field-input {
  position: relative;
  padding-bottom: 19px;
}

.error {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
}

.error-text {
  color: red;
  font-size: 12px;
}

.input-text {
  display: block;
  padding: 0 10px;
  width: 100%;
  height: 38px;
}

.input-text:focus-visible {
  outline-color: #818181;
}

.input-error {
  outline: 2px solid red;
  outline-offset: 1px;
}

.field-tasks:nth-child(n + 2) {
  margin-top: 20px;
}

.sub-title {
  margin-bottom: 20px;
}

.tasks-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #818181;
  padding: 10px;
  border-radius: 15px;
  background-color: #fff;
}

.tasks-item:nth-child(n + 2) {
  margin-top: -1px;
}

.checked-field {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #818181;
  border-radius: 30px;
}

.checked::after {
  content: "V";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.empty-block {
  display: none;
}

.active {
  display: block;
}